In [21]:
import pandas as pd
from IPython.display import display
# import matplotlib.pyplot as plt

# Load your CSV file
df = pd.read_csv('Data/Raw/property_information_Kelli.csv')
# Display the first few rows in more readable format
display(df.head(10))
df.shape

,Unnamed: 0,Property ID,Locality data,Price,Property type,Property subtype,Type of sale,Number of bedrooms,Living area m²,Equipped kitchen,Furnished,Open fire,Terrace surface m²,Garden area m²,Number of facades,Swimming pool,Building condition
0,0,20245694,9550,198800,house,house,NaN,3.0,125.0,0,0,1,45.0,106.0,2.0,0,To renovate
1,1,20246399,2170,349000,house,town-house,NaN,3.0,193.0,1,0,1,NaN,53.0,2.0,0,To be done up
2,2,20245215,4102,199900,house,house,NaN,3.0,131.0,1,0,1,40.0,30.0,2.0,0,As new
3,3,20245396,9620,349000,house,bungalow,NaN,4.0,237.0,0,0,1,16.0,390.0,4.0,0,To renovate
4,4,20245133,1200,795000,house,house,NaN,5.0,225.0,1,0,1,15.0,120.0,2.0,0,To renovate
5,5,20244275,8500,455000,house,house,NaN,4.0,187.0,1,0,1,NaN,100.0,NaN,0,Good
6,6,20244687,9860,455000,house,house,NaN,3.0,147.0,0,0,1,16.0,77.0,3.0,0,Just renovated
7,7,20241273,6220,315000,house,house,NaN,2.0,100.0,0,0,1,14.0,1030.0,4.0,0,To be done up
8,8,20242318,1120,477000,house,house,NaN,5.0,186.0,0,0,1,30.0,120.0,2.0,0,As new
9,9,20244297,4140,298000,house,house,NaN,4.0,242.0,1,0,1,80.0,147.0,2.0,0,Good

(10479, 17)

In [22]:
df.columns.tolist()

['Unnamed: 0',
 'Property ID',
 'Locality data',
 'Price',
 'Property type',
 'Property subtype',
 'Type of sale',
 'Number of bedrooms',
 'Living area m²',
 'Equipped kitchen',
 'Furnished',
 'Open fire',
 'Terrace surface m²',
 'Garden area m²',
 'Number of facades',
 'Swimming pool',
 'Building condition']

### Remove 'apartment-block' from Property subtype

In [23]:
df = df[df["Property subtype"].str.contains("apartment-block") == False]
display(df.head(10))

,Unnamed: 0,Property ID,Locality data,Price,Property type,Property subtype,Type of sale,Number of bedrooms,Living area m²,Equipped kitchen,Furnished,Open fire,Terrace surface m²,Garden area m²,Number of facades,Swimming pool,Building condition
0,0,20245694,9550,198800,house,house,NaN,3.0,125.0,0,0,1,45.0,106.0,2.0,0,To renovate
1,1,20246399,2170,349000,house,town-house,NaN,3.0,193.0,1,0,1,NaN,53.0,2.0,0,To be done up
2,2,20245215,4102,199900,house,house,NaN,3.0,131.0,1,0,1,40.0,30.0,2.0,0,As new
3,3,20245396,9620,349000,house,bungalow,NaN,4.0,237.0,0,0,1,16.0,390.0,4.0,0,To renovate
4,4,20245133,1200,795000,house,house,NaN,5.0,225.0,1,0,1,15.0,120.0,2.0,0,To renovate
5,5,20244275,8500,455000,house,house,NaN,4.0,187.0,1,0,1,NaN,100.0,NaN,0,Good
6,6,20244687,9860,455000,house,house,NaN,3.0,147.0,0,0,1,16.0,77.0,3.0,0,Just renovated
7,7,20241273,6220,315000,house,house,NaN,2.0,100.0,0,0,1,14.0,1030.0,4.0,0,To be done up
8,8,20242318,1120,477000,house,house,NaN,5.0,186.0,0,0,1,30.0,120.0,2.0,0,As new
9,9,20244297,4140,298000,house,house,NaN,4.0,242.0,1,0,1,80.0,147.0,2.0,0,Good

### Remove unwanted columns

In [24]:
df.drop(labels=['Property subtype', 'Type of sale'], axis=1, inplace=True)

In [25]:
display(df.head(10))
df.shape

,Unnamed: 0,Property ID,Locality data,Price,Property type,Number of bedrooms,Living area m²,Equipped kitchen,Furnished,Open fire,Terrace surface m²,Garden area m²,Number of facades,Swimming pool,Building condition
0,0,20245694,9550,198800,house,3.0,125.0,0,0,1,45.0,106.0,2.0,0,To renovate
1,1,20246399,2170,349000,house,3.0,193.0,1,0,1,NaN,53.0,2.0,0,To be done up
2,2,20245215,4102,199900,house,3.0,131.0,1,0,1,40.0,30.0,2.0,0,As new
3,3,20245396,9620,349000,house,4.0,237.0,0,0,1,16.0,390.0,4.0,0,To renovate
4,4,20245133,1200,795000,house,5.0,225.0,1,0,1,15.0,120.0,2.0,0,To renovate
5,5,20244275,8500,455000,house,4.0,187.0,1,0,1,NaN,100.0,NaN,0,Good
6,6,20244687,9860,455000,house,3.0,147.0,0,0,1,16.0,77.0,3.0,0,Just renovated
7,7,20241273,6220,315000,house,2.0,100.0,0,0,1,14.0,1030.0,4.0,0,To be done up
8,8,20242318,1120,477000,house,5.0,186.0,0,0,1,30.0,120.0,2.0,0,As new
9,9,20244297,4140,298000,house,4.0,242.0,1,0,1,80.0,147.0,2.0,0,Good

(10283, 15)

### Remove unwanted listings with 'Number of bedrooms' as 'Nan'

In [26]:
df.dropna(subset=['Number of bedrooms'], inplace=True)
display(df.head(40))
df.shape

,Unnamed: 0,Property ID,Locality data,Price,Property type,Number of bedrooms,Living area m²,Equipped kitchen,Furnished,Open fire,Terrace surface m²,Garden area m²,Number of facades,Swimming pool,Building condition
0,0,20245694,9550,198800,house,3.0,125.0,0,0,1,45.0,106.0,2.0,0,To renovate
1,1,20246399,2170,349000,house,3.0,193.0,1,0,1,NaN,53.0,2.0,0,To be done up
2,2,20245215,4102,199900,house,3.0,131.0,1,0,1,40.0,30.0,2.0,0,As new
3,3,20245396,9620,349000,house,4.0,237.0,0,0,1,16.0,390.0,4.0,0,To renovate
4,4,20245133,1200,795000,house,5.0,225.0,1,0,1,15.0,120.0,2.0,0,To renovate
5,5,20244275,8500,455000,house,4.0,187.0,1,0,1,NaN,100.0,NaN,0,Good
6,6,20244687,9860,455000,house,3.0,147.0,0,0,1,16.0,77.0,3.0,0,Just renovated
7,7,20241273,6220,315000,house,2.0,100.0,0,0,1,14.0,1030.0,4.0,0,To be done up
8,8,20242318,1120,477000,house,5.0,186.0,0,0,1,30.0,120.0,2.0,0,As new
9,9,20244297,4140,298000,house,4.0,242.0,1,0,1,80.0,147.0,2.0,0,Good
10,10,20242604,1150,650000,house,3.0,142.0,0,0,1,12.0,100.0,2.0,0,Good
11,11,20246094,4460,132000,house,2.0,76.0,0,0,1,20.0,105.0,2.0,0,To renovate
12,12,20244971,9000,345000,house,4.0,145.0,0,0,1,NaN,38.0,2.0,0,Good
13,13,20244971,9000,345000,house,4.0,145.0,0,0,1,NaN,38.0,2.0,0,Good
14,14,20244012,9772,250000,house,3.0,141.0,0,0,1,NaN,300.0,4.0,0,To renovate
15,15,20244298,4280,289000,house,2.0,130.0,1,0,1,20.0,400.0,4.0,0,Good
16,16,20242285,4600,440000,house,5.0,232.0,1,0,1,NaN,100.0,2.0,0,Good
17,17,20243204,9030,620000,house,4.0,265.0,0,0,1,30.0,478.0,3.0,0,Good
18,18,20246112,9600,125000,house,3.0,134.0,0,0,1,NaN,NaN,2.0,0,To renovate
19,19,20244899,5580,192500,house,3.0,173.0,0,0,1,NaN,53.0,2.0,0,To be done up
20,20,20245164,4020,274000,house,3.0,147.0,0,0,1,8.0,NaN,3.0,0,As new
21,21,20246074,8800,339000,house,3.0,164.0,1,0,1,15.0,40.0,3.0,0,Good
22,22,20245426,1630,375000,house,4.0,315.0,1,0,1,40.0,365.0,4.0,0,To be done up
23,23,20246456,8750,399000,house,3.0,322.0,1,0,1,40.0,NaN,NaN,0,Just renovated
24,24,20245846,2580,429000,house,3.0,272.0,0,0,1,NaN,NaN,4.0,0,Good
25,25,20245729,7890,448500,house,4.0,145.0,1,0,1,NaN,NaN,4.0,0,Good
26,26,20221782,2100,284000,house,3.0,89.0,0,0,1,3.0,97.0,2.0,0,To be done up
27,27,20239177,7890,349000,house,3.0,138.0,1,0,1,25.0,2000.0,4.0,0,To be done up
28,28,20244604,4101,175000,house,4.0,135.0,1,0,1,40.0,160.0,2.0,0,Good
29,29,20246513,8670,610000,house,4.0,354.0,0,0,1,NaN,448.0,4.0,0,As new
30,30,20226343,8300,3700000,house,3.0,127.0,1,0,1,NaN,NaN,NaN,0,To renovate
31,31,20242312,7340,115000,house,2.0,143.0,0,0,1,NaN,NaN,2.0,0,To renovate
32,32,20241926,6887,249000,house,4.0,568.0,0,0,1,NaN,1100.0,4.0,0,To restore
33,33,20238309,9750,275000,house,3.0,175.0,0,0,1,NaN,NaN,NaN,0,To renovate
34,34,20242754,8800,335000,house,3.0,148.0,0,0,1,60.0,300.0,NaN,0,NaN
35,35,20240822,2940,399000,house,5.0,156.0,1,0,1,NaN,NaN,3.0,0,Good
36,36,20241991,9770,1050000,house,5.0,450.0,1,0,1,NaN,NaN,4.0,0,Good
38,38,20241006,9890,1190000,house,4.0,387.0,0,0,1,NaN,NaN,4.0,0,To be done up
39,39,20220249,9340,179000,house,2.0,91.0,0,0,1,13.0,52.0,2.0,0,To be done up
40,40,20219660,4100,215000,house,4.0,200.0,0,0,1,30.0,420.0,2.0,0,Just renovated

(10114, 15)

In [42]:
# Checking the number of Nan for living room....out of curiosity
nan_rows_livingarea = df[df['Living area m²'].isna()]
print(nan_rows_livingarea)

       Unnamed: 0  Property ID  Locality data   Price Property type  \
397           397     20235943           8540  219000         house
577           577     20246246           4460  179000         house
595           595     20228928           6224  149900         house
698           698     20244894           4420  249000         house
778           778     20246794           6970  300000         house
...           ...          ...            ...     ...           ...
10432       10432     11180221           8400  250000     apartment
10434       10434     11180222           8400  255000     apartment
10442       10442     11128760           1180  290000     apartment
10449       10449     20185488           8430  165000     apartment
10460       10460     20204017           8300  600000     apartment

       Number of bedrooms  Living area m²  Equipped kitchen  Furnished  \
397                   3.0             NaN                 0          0
577                   3.0             NaN                 1          0
595                   3.0             NaN                 0          0
698                   3.0             NaN                 1          0
778                   4.0             NaN                 0          0
...                   ...             ...               ...        ...
10432                 2.0             NaN                 0          0
10434                 2.0             NaN                 0          0
10442                 2.0             NaN                 1          0
10449                 1.0             NaN                 0          0
10460                 2.0             NaN                 0          1

       Open fire  Terrace surface m²  Garden area m²  Number of facades  \
397            1                 NaN             NaN                NaN
577            1                28.0            94.0                3.0
595            1                 NaN           139.0                3.0
698            1                25.0           257.0                2.0
778            1                 NaN             NaN                4.0
...          ...                 ...             ...                ...
10432          1                 7.0             NaN                NaN
10434          1                 7.0             NaN                NaN
10442          1                 3.0             NaN                2.0
10449          1                 NaN             NaN                NaN
10460          1                 NaN             NaN                NaN

       Swimming pool Building condition
397                0               Good
577                0               Good
595                0        To renovate
698                0               Good
778                0               Good
...              ...                ...
10432              0     Just renovated
10434              0     Just renovated
10442              0               Good
10449              0        To renovate
10460              0               Good

[133 rows x 15 columns]

In [28]:
# Filter to get only duplicate rows
duplicates = df[df.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [Unnamed: 0, Property ID, Locality data, Price, Property type, Number of bedrooms, Living area m², Equipped kitchen, Furnished, Open fire, Terrace surface m², Garden area m², Number of facades, Swimming pool, Building condition]
Index: []

### Create new csv file

In [20]:
df.to_csv('Data/Raw/sanitized_property_listings_Kelli.csv', index=False)