In [12]:
import pandas as pd
from IPython.display import display
# import matplotlib.pyplot as plt

# Load your CSV file
df = pd.read_csv('Data/Raw/property_information_Kelli.csv')
# Display the first few rows in more readable format
display(df.head(10))
df.shape

,Unnamed: 0,Property ID,Locality data,Price,Property type,Property subtype,Type of sale,Number of bedrooms,Living area m²,Equipped kitchen,Furnished,Open fire,Terrace surface m²,Garden area m²,Number of facades,Swimming pool,Building condition
0,0,20245694,9550,198800,house,house,NaN,3.0,125.0,0,0,1,45.0,106.0,2.0,0,To renovate
1,1,20246399,2170,349000,house,town-house,NaN,3.0,193.0,1,0,1,NaN,53.0,2.0,0,To be done up
2,2,20245215,4102,199900,house,house,NaN,3.0,131.0,1,0,1,40.0,30.0,2.0,0,As new
3,3,20245396,9620,349000,house,bungalow,NaN,4.0,237.0,0,0,1,16.0,390.0,4.0,0,To renovate
4,4,20245133,1200,795000,house,house,NaN,5.0,225.0,1,0,1,15.0,120.0,2.0,0,To renovate
5,5,20244275,8500,455000,house,house,NaN,4.0,187.0,1,0,1,NaN,100.0,NaN,0,Good
6,6,20244687,9860,455000,house,house,NaN,3.0,147.0,0,0,1,16.0,77.0,3.0,0,Just renovated
7,7,20241273,6220,315000,house,house,NaN,2.0,100.0,0,0,1,14.0,1030.0,4.0,0,To be done up
8,8,20242318,1120,477000,house,house,NaN,5.0,186.0,0,0,1,30.0,120.0,2.0,0,As new
9,9,20244297,4140,298000,house,house,NaN,4.0,242.0,1,0,1,80.0,147.0,2.0,0,Good

(10479, 17)

In [31]:
df.columns.tolist()

['Unnamed: 0',
 'Property ID',
 'Locality data',
 'Price',
 'Property type',
 'Property subtype',
 'Type of sale',
 'Number of bedrooms',
 'Living area m²',
 'Equipped kitchen',
 'Furnished',
 'Open fire',
 'Terrace surface m²',
 'Garden area m²',
 'Number of facades',
 'Swimming pool',
 'Building condition']

### Remove 'apartment-block' from Property subtype

In [43]:
df = df[df["Property subtype"].str.contains("apartment-block") == False]
display(df.head(10))

KeyError: 'Property subtype'

### Remove unwanted columns

In [36]:
df.drop(labels=['Property subtype', 'Type of sale'], axis=1, inplace=True)

In [44]:
display(df.head(10))
df.shape

,Unnamed: 0,Property ID,Locality data,Price,Property type,Number of bedrooms,Living area m²,Equipped kitchen,Furnished,Open fire,Terrace surface m²,Garden area m²,Number of facades,Swimming pool,Building condition
0,0,20245694,9550,198800,house,3.0,125.0,0,0,1,45.0,106.0,2.0,0,To renovate
1,1,20246399,2170,349000,house,3.0,193.0,1,0,1,NaN,53.0,2.0,0,To be done up
2,2,20245215,4102,199900,house,3.0,131.0,1,0,1,40.0,30.0,2.0,0,As new
3,3,20245396,9620,349000,house,4.0,237.0,0,0,1,16.0,390.0,4.0,0,To renovate
4,4,20245133,1200,795000,house,5.0,225.0,1,0,1,15.0,120.0,2.0,0,To renovate
5,5,20244275,8500,455000,house,4.0,187.0,1,0,1,NaN,100.0,NaN,0,Good
6,6,20244687,9860,455000,house,3.0,147.0,0,0,1,16.0,77.0,3.0,0,Just renovated
7,7,20241273,6220,315000,house,2.0,100.0,0,0,1,14.0,1030.0,4.0,0,To be done up
8,8,20242318,1120,477000,house,5.0,186.0,0,0,1,30.0,120.0,2.0,0,As new
9,9,20244297,4140,298000,house,4.0,242.0,1,0,1,80.0,147.0,2.0,0,Good

(10114, 15)

### Remove unwanted listings with 'Number of bedrooms' as 'Nan'

### Count number of missing values per column

In [45]:
missing_values_column = df.isnull().sum()
print(missing_values_column)

Unnamed: 0               0
Property ID              0
Locality data            0
Price                    0
Property type            0
Number of bedrooms       0
Living area m²         133
Equipped kitchen         0
Furnished                0
Open fire                0
Terrace surface m²    5239
Garden area m²        7342
Number of facades     3084
Swimming pool            0
Building condition     957
dtype: int64

In [42]:
nan_rows_livingarea = df[df['Living area m²'].isna()]
print(nan_rows_livingarea)

       Unnamed: 0  Property ID  Locality data   Price Property type  \
397           397     20235943           8540  219000         house
577           577     20246246           4460  179000         house
595           595     20228928           6224  149900         house
698           698     20244894           4420  249000         house
778           778     20246794           6970  300000         house
...           ...          ...            ...     ...           ...
10432       10432     11180221           8400  250000     apartment
10434       10434     11180222           8400  255000     apartment
10442       10442     11128760           1180  290000     apartment
10449       10449     20185488           8430  165000     apartment
10460       10460     20204017           8300  600000     apartment

       Number of bedrooms  Living area m²  Equipped kitchen  Furnished  \
397                   3.0             NaN                 0          0
577                   3.0             NaN                 1          0
595                   3.0             NaN                 0          0
698                   3.0             NaN                 1          0
778                   4.0             NaN                 0          0
...                   ...             ...               ...        ...
10432                 2.0             NaN                 0          0
10434                 2.0             NaN                 0          0
10442                 2.0             NaN                 1          0
10449                 1.0             NaN                 0          0
10460                 2.0             NaN                 0          1

       Open fire  Terrace surface m²  Garden area m²  Number of facades  \
397            1                 NaN             NaN                NaN
577            1                28.0            94.0                3.0
595            1                 NaN           139.0                3.0
698            1                25.0           257.0                2.0
778            1                 NaN             NaN                4.0
...          ...                 ...             ...                ...
10432          1                 7.0             NaN                NaN
10434          1                 7.0             NaN                NaN
10442          1                 3.0             NaN                2.0
10449          1                 NaN             NaN                NaN
10460          1                 NaN             NaN                NaN

       Swimming pool Building condition
397                0               Good
577                0               Good
595                0        To renovate
698                0               Good
778                0               Good
...              ...                ...
10432              0     Just renovated
10434              0     Just renovated
10442              0               Good
10449              0        To renovate
10460              0               Good

[133 rows x 15 columns]

In [14]:
# Filter to get only duplicate rows
duplicates = df[df.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [Unnamed: 0, Property ID, Locality data, Price, Property type, Property subtype, Type of sale, Number of bedrooms, Living area m², Equipped kitchen, Furnished, Open fire, Terrace surface m², Garden area m², Number of facades, Swimming pool, Building condition]
Index: []

### Create new csv file

In [18]:
df.to_csv('Data/Raw/sanitized_property_listings_Kelli.csv', index=False)